.main-container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    max-width: 550px;

    @include media-breakpoint-up(md) {
        max-width: 1000px;
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    background: $c1-main;
    background: $gradient-bg;
}


.card-container {
    background: $c-gray;
}

.content-container {
    margin: $content-container-margin-tb $content-container-margin-lr;
}

